<div id="index_header"> 
<form method="POST" id="index_register" action="/register">

<input type="submit" id="index_registerlink" value="Register"></input>

</form>
<form method="POST" id="index_signin" action="/signin">

<input type="submit" id="index_signinlink" value="Sign in"></input>


</form>
</div>
<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

