<div id="index_header"> 
<form method="POST" id="index_register" action="/register">

<input type="submit" id="index_registerlink" value="Register"></input>

</form>
<form method="POST" id="index_signin" action="/signin">

<input type="submit" id="index_signinlink" value="Sign in"></input>


</form>
</div>
<h1>{{title}}</h1>

<div class="index_block1">All Categories</div><div class="index_whitespace"></div>


<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Restaurent"></input>


</form>


<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Beauty&Spa"></input>


</form>

<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Travel"></input>


</form>
<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Health&Fitness"></input>


</form>
<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Entertainment&Activity"></input>


</form>
<div class="index_block2">
<form method="POST" action="/signin">

<input type="submit" class="index_block2text" value="HOME"></input>
<form method="POST" action="/signin">

<input type="submit" class="index_block2text" value="ABOUT US"></input>

<form method="POST" action="/signin">

<input type="submit" class="index_block2text" value="PRODUCT DEALS"></input>
<form method="POST" action="/signin">

<input type="submit" class="index_block2text" value="HOW IT WORKS"></input>


</form>

</form>
</form>


</form>


</div>

<div class="index_block3">
<p id="index_block3text" >Customer care: 0220860987<br>&nbsp&nbsp&nbsp&nbsp&nbspMon to Fri (10.30 am-6.30 pm),Sat(10.30 am - 4.00 pm)
</p>
</div>

<img class= "index_image1" src="../images/icon1.png" title="hotel icon" width="30" height="30"/> 

<div class="index_title1">Restaurents</div>