<div id="index_header"> 
<form method="POST" id="index_register" action="/register">

<input type="submit" id="index_registerlink" value="Register"></input>

</form>
<form method="POST" id="index_signin" action="/signin">

<input type="submit" id="index_signinlink" value="Sign in"></input>


</form>
</div>
<h1>{{title}}</h1>

<div class="index_block1">All Categories</div>

<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Restaurent"></input>


</form>


<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Beauty&Spa"></input>


</form>

<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Travel"></input>


</form>
<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Health&Fitness"></input>


</form>
<form method="POST" action="/signin">

<input type="submit" class="index_list" value="Entertainment&Activity"></input>


</form>
