

     <link rel='stylesheet' href='/stylesheets/Restaurent.css' />
  </head>
  <body>
<div id="Restaurent_header"> 

	<form method="POST" id="Restaurent_register" action="/register">
		<input type="submit" id="Restaurent_registerlink" value="Register">
		</input>
	</form>

	<form method="POST" id="Restaurent_signin" action="/signin">
		<input type="submit" id="Restaurent_signinlink" value="Sign in">
		</input>
	</form>

</div>
<h1>Bingo Mingo</h1>

<div class="Restaurent_block1">All Categories
</div>
<div class="Restaurent_whitespace">
</div>
</body>
</html>
