body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#index_header {
	padding:13px;
	background-color: black;
	margin: auto;
}
#index_signinlink {
	border:none; 
	background:#000; 
	color:#fff;
    float:right;
	margin-top: -10px;

}
#index_signinlink:hover {
    background-color: #4CAF50; /* Green */
    color:orange ;
     cursor: pointer; 
     cursor: hand;
    }
@media only screen and (max-width:480px)
{
#index_signinlink {
	border:none; 
	background:#000; 
	color:#fff;
    float:right;
	margin-top: -10px;
	}
}
@media only screen and (max-width:600px)
{
#index_signinlink {
	border:none; 
	background:#000; 
	color:#fff;
    float:right;
	margin-top: -10px;
	}
}
#index_registerlink {
	border:none; 
	background:#000; 
	color:#fff;
	float:right;
	margin-top: -10px;
	margin-right: 80px;
}
#index_registerlink:hover {
	background-color: #4CAF50; /* Green */
    color:orange ;
	cursor: pointer; 
	cursor: hand;
}
@media only screen and (max-width:480px)
{
	#index_registerlink {
	border:none; 
	background:#000; 
	color:#fff;
	float:right;
	margin-top: -10px;
	margin-right: 0px;
	}
}
/*@media only screen and (max-width:600px)
{
	#index_registerlink {
	border:none; 
	background:#000; 
	color:#fff;
	float:right;
	margin-top: -10px;
	margin-right: 0px;
	}
}*/

.index_block1 {
	background-color: #4d0026;
	width:270px;
	height: 22px;
	padding: 10px;
	margin-left: 10px;
	text-align: left;
    text-indent: 20px;
	font-size: 17.5px;
	font-family: Arial;
	color:white;
	margin-top: 50px;
}

.index_list {
	background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    width:290px;
    text-align: left;
}