body {
 
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#index_header {
	padding:13px;
	background-color: black;
	margin: auto;
}
#index_signinlink {
	border:none; 
	background:#000; 
	color:#fff;
    float:right;
	margin-top: -10px;

}
#index_signinlink:hover {
    background-color: #4CAF50; /* Green */
    color:orange ;
     cursor: pointer; 
     cursor: hand;
    }
@media only screen and (max-width:480px)
{
#index_signinlink {
	border:none; 
	background:#000; 
	color:#fff;
    float:right;
	margin-top: -10px;
	}
}
@media only screen and (max-width:600px)
{
#index_signinlink {
	border:none; 
	background:#000; 
	color:#fff;
    float:right;
	margin-top: -10px;
	}
}
#index_registerlink {
	border:none; 
	background:#000; 
	color:#fff;
	float:right;
	margin-top: -10px;
	margin-right: 80px;
}
#index_registerlink:hover {
	background-color: #4CAF50; /* Green */
    color:orange ;
	cursor: pointer; 
	cursor: hand;
}
@media only screen and (max-width:480px)
{
	#index_registerlink {
	border:none; 
	background:#000; 
	color:#fff;
	float:right;
	margin-top: -10px;
	margin-right: 0px;
	}
}
/*@media only screen and (max-width:600px)
{
	#index_registerlink {
	border:none; 
	background:#000; 
	color:#fff;
	float:right;
	margin-top: -10px;
	margin-right: 0px;
	}
}*/

.index_block1 {
	background-color: #4d0026;
	width:270px;
	height: 22px;
	padding: 10px;
	margin-left: 10px;
	text-align: left;
    text-indent: 20px;
	font-size: 17.5px;
	font-family: Arial;
	color:white;
	margin-top: 50px;
}

.index_block2 {
	background-color: #e67300;
	width:500px;
	height: 22px;
	padding: 10px;
	margin-left: 300px;
	text-align: left;
    text-indent: 20px;
	font-size: 15px;
	font-family: Arial;
	color:white;
	margin-top: -304px;
   
}
.index_block3 {
	background-color:  black;
	margin-left: 800px;
	height: 22px;
	padding: 10px;
	margin-top: -42px;
	color:white;
	text-indent: 90px;
	font-size: 13px;
	border-bottom-left-radius: 5%10px;
    border-top-left-radius: 5%10px;   
}

.index_list {
	background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    width:290px;
    text-align: left;

}
.index_list:hover {
	background-color: #558000; /* Green */
    color:white;
	cursor: pointer; 
	cursor: hand;
}
.index_whitespace {
	background-color: white;
    padding: 1.1px;
  
}
.index_block2text {
	margin-top: 0px;
    color:white;
    border:none; 
	background:#e67300; 
}
#index_block3text {
	margin-top: -10px;
    color:white;
 
}

.index_block2text:hover {
	background-color: #e67300; /* Green */
    color:orange ;
	cursor: pointer; 
	cursor: hand;
}